.footer {
    background-color: #353535;
  }
  
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
  
  .footer__logo {
    color: #fff;
    font-family: "Shrikhand", "cursive";
    font-size: 1.2rem;
    margin: 0px 0px 1rem;
  }
  
  .footer__list {
    list-style: none;
    margin: 15px;
    padding: 0;
  }
  
  .footer__listElt:first-child {
    margin-top: 0px;
  }
  
  .footer__listElt {
    margin: 0.5rem 0px;
  }
  